.DS_Store
VPPLocationExample.xcodeproj/xcuserdata/
VPPLocationExample.xcodeproj/project.xcworkspace/xcuserdata/
build/
VPPLocationExample.xcodeproj/*.mode1v3
VPPLocationExample.xcodeproj/*.pbxuser

.idea
